@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

* {
  font-family: Open Sans;
}
html{
  padding: 0%;
}
body{
  margin: 0;
}
footer{
  margin: 0;
}


.footer-distributed{
  background: #475344;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  padding: 5% 12% 2%;
}

.footer-distributed .footer-left,
.footer-distributed .footer-right,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}


@media (min-width:800px){
  .footer-distributed{
    background: #475344;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    justify-content: space-between;
    padding: 1% 3% 0;
    display: flex;
    height: auto;
  }
  
  .footer-distributed .footer-left,
  .footer-distributed .footer-right,
  .footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
  }
}

/* Footer left ****************************************************************************************************************************/

.footer-distributed .footer-left{
  width: 20%;
}


/* Logo *******************************************************************************************************************************/

.footer-company-name{
    color: #FFFEFD;
    font-size: 2rem;
    font-weight: bold;
    margin:  0 0 1rem 0;
}

.footer-company-name span{
  color:  #4CAF50;
}


/* Footer center********************************************************************************************/

.footer-center {
  color: #ffffff;
  width: 100%;
  margin-bottom: 2rem;
}

.footer-center ul{
  padding-left: 1rem;
}

.footer-center li{
  padding-bottom: 5px;
}

.footer-center a{
  text-decoration: none;
  color: #ffffff;
  padding: 0;
}
@media (min-width:800px) {
  .footer-company-name{
    margin:  0;
    font-size: 2.1rem;
  }
  .footer-center h3{
    font-size: 1.5rem;
  }
  .footer-center {
    color: #ffffff;
    width: 30%;
    margin-bottom: 0;
  }
  
  .footer-center ul{
    padding-left: 2rem;
  }
  
  .footer-center li{
    padding-bottom: 1rem;
  }
  
  .footer-center a{
    text-decoration: none;
    font-size: 1.1rem;
    color: #ffffff;
    padding: 0;
  }
  
}



/* Footer right ***********************************************************************************************/

.footer-distributed .footer-right {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-right i{
  background-color:  transparent;
  color: #ffffff;
  font-size: 24px;
  width: 38px;
  height: 38px;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.insta i{
  font-size: 30px;
}

.footer-right  a {
  text-decoration: none;
}

.footer-socialnet {
  display: flex;
}

.icon-socialnet {
  border: 3px solid white;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 5px;
}

.list-socialnet{
  display: none;
}

@media (min-width: 800px){
  .footer-distributed .footer-right {
    width: 30%;
    justify-content: center;
    align-items: start;
    box-sizing: border-box;
    flex-direction: row;
  }

  .footer-right i{
    background-color: transparent;
    color: #ffffff;
    font-size: 24px;
    width: 30px;
    height: fit-content;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;

  }
  
  .insta i{
    font-size: 30px;
  }
  
  .footer-right  a {
    text-decoration: none;
  }
  
  .footer-socialnet {
    display: flex;
    flex-direction: column;
  }
  
  .icon-socialnet {
    border: 3px solid white;
    justify-content: center;
    width: 40px;
    height: 40px;
    align-items: center;
    border-radius: 50%;
    margin: 5px;
  }

  .list-socialnet{
    display: block;
  }

  .list-socialnet ul{
    list-style-type: none;
    padding: 0 0 0 0.25rem;
  }
  
  .list-socialnet li:first-child{
    margin-top: 0.7rem;
    margin-bottom: 1.65rem;
  }

  .list-socialnet li{
    margin-bottom: 1.65rem;
  }
  .list-socialnet a{
    text-decoration: none;
    color: #ffffff;
  }
}


/*Linea de base*/
.footer-line{
  color: #ffffff;
  text-align: center;
}

.footer-line p{
  padding: 2px;
  margin: 0;
  font-size: 12px;
  background-color: black;
}

/*Animación pequeñas dispositivos*/

.icon-socialnet:hover{
  animation: bounce 0.4s cubic-bezier(0.59, -0.67, 0.24, 0.79) 2;
  animation-direction: alternate;
  border-color: #7df465;
  background-color: rgba(255, 255, 255, 0.286);
}
.icon-socialnet:hover .fab{
  color: #7df465;
  background-color: rgba(255, 255, 255, 0);
}



@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-30px);
  }
}

/*Animación medianos y grandes dispositivos*/

@media (min-width:800px){

  
  .icon-socialnet:hover{
    animation: bounce-x 0.4s cubic-bezier(0.59, -0.67, 0.24, 0.79) 2;
    animation-direction: alternate;
    border-color: #7df465;
    background-color: rgba(255, 255, 255, 0.286);
  }
  .icon-socialnet:hover .fab{
    color: #7df465;
    background-color: rgba(255, 255, 255, 0);
  }
}
  
@keyframes bounce-x {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-30px);
  }
}